/*
_layout.scss

this file contains styles to control:
- positioning & alignment
- padding & margins
*/

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.app-container {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
}

.two-column-container {
  position: relative;
  height: 100%;
}

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 20em;
  z-index: 1;

  &__controls {
    padding-left: 1em;
  }

  &__content {
    padding: 1em;
  }

  &__list {
    padding: 0;
  }
}


.main-container {
  position: absolute;
  top: 0;
  left: 20em;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 2;
}

.content {
  padding: 1em;
}
