// -------------------------------------
//  MH2 variables
// -------------------------------------

// -- colours --------------------------
$clr-base: rgb(41, 41, 41);
$clr-lightest: rgb(255, 255, 255);
$clr-brand-primary: rgb(0, 164, 183);
